$colors: (bgColor: #21232e, headerHeadingColor: #fff, btnColor: #e3ac00);
$fonts: (headingFont: ('Source Sans Pro', sans-serif), bodyFont: ('Fresca', sans-serif));
$bgImage: url("../img/m-h-night.jpg");